@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* common styles */

.common-font {
    font-family: Azeret Mono;
}

.common-button button {
    padding: 10px 15px;
    color: rgb(11, 14, 22);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 100px;
}

.name {
    font-weight: 100;
    color: rgb(13, 19, 33);
}

.hero {
    display: flex;
    flex-direction: column;
    height: 650px;
    background-image: url('../assets/Hero-bg.png');
    align-items: center;
}

.hero .hero-content {
    width: 1000px;
    /* margin-bottom: 150px; */
}

.hero img {
    height: 240px;
    width: 240px;
}

.hero h3 {
    font-family: Azeret Mono;
    font-size: 48px;
    text-align: center;
    font-weight: 100;
    line-height: 68px;
    margin-bottom: 24px;

}

.hero p {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 100;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
}

.hero button {
    width: 230px;
    height: 50px;
    font-weight: 100;
    border-radius: 5px;
    background-color: black;
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 20px;
    line-height: 20px;

}

.heading {
    text-align: center;
}

.image-text {
    display: flex;
    /* justify-content: space-between; */
    margin-top: 50px;
}

.text1 {
    width: 470px;
    margin-left: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading h2, p {
    text-align: center;
}

.second-section {
    margin-top: 150px;
    background-color: rgba(13, 19, 33, 0.02);
}

.heading {
    width: 850px;
    margin: 50px auto;
}

.second-section h2 {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 100;
    line-height: 37px;

}

.second-section p {
    /* text-align: center; */
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 100;
    margin-bottom: 50px;
}

.image-text p {
    text-align: left;
}

.text-first {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}

.picture1 {
    margin-left: 400px;
}

.text1 button {
    font-family: Azeret Mono;
    width: 170px;
    height: 48px;
    color: rgb(13, 19, 33);
}

.text-second {
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(180deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);
}
.text-second .text2 {
width: 560px;
}

.text-second .text2 button{
    font-family: Azeret Mono;
    width: 170px;
    height: 48px;
    color: rgb(13, 19, 33);
}

.text-third{
    display: flex;
    justify-content: space-around;
    border-radius: 16px;
    background: linear-gradient(90deg, rgb(255, 255, 255), rgba(255, 255, 255, 0) 100%);

}

.text3{
    width: 550px;
    border-radius: 15px;
  
}

.text3 h2, p{
    text-align: left;
}

.text3 button{
    font-family: Azeret Mono;
    width: 170px;
    height: 48px;
    color: rgb(13, 19, 33);
}